# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Visual Studio / Rider
.vs/
.idea/
*.user
*.suo
*.sln.docstates

# Build results
bin/
obj/
[Bb]in/
[Oo]bj/
*.dll
*.exe
*.pdb
*.cache

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Test results
TestResults/
*.trx

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

